Bolnica/BolnicaClient/Connected Services/BolnicaService/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:49432/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BolnicaWCF.Model" />
  <xs:element name="LoginKorisnikProvjera">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginKorisnikProvjeraResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/BolnicaWCF.Model" minOccurs="0" name="LoginKorisnikProvjeraResult" nillable="true" type="q1:ArrayOfKorisnik" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetKorisnik">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetKorisnikResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/BolnicaWCF.Model" minOccurs="0" name="GetKorisnikResult" nillable="true" type="q2:ArrayOfKorisnik" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddKorisnik">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/BolnicaWCF.Model" minOccurs="0" name="k" nillable="true" type="q3:Korisnik" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddKorisnikResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateKorisnik">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/BolnicaWCF.Model" minOccurs="0" name="k" nillable="true" type="q4:Korisnik" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateKorisnikResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteKorisnik">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteKorisnikResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGrupa">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGrupaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/BolnicaWCF.Model" minOccurs="0" name="GetGrupaResult" nillable="true" type="q5:ArrayOfGrupa" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDrzava">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDrzavaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/BolnicaWCF.Model" minOccurs="0" name="GetDrzavaResult" nillable="true" type="q6:ArrayOfDrzava" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPacijentByDoktorID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IDDoktor" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPacijentByDoktorIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/BolnicaWCF.Model" minOccurs="0" name="GetPacijentByDoktorIDResult" nillable="true" type="q7:ArrayOfPacijentDoktor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPacijentDoktorVeza">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/BolnicaWCF.Model" minOccurs="0" name="pd" nillable="true" type="q8:PacijentDoktor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPacijentDoktorVezaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePacijentDoktorVeza">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/BolnicaWCF.Model" minOccurs="0" name="pd" nillable="true" type="q9:PacijentDoktor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePacijentDoktorVezaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePacijentDoktorVeza">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePacijentDoktorVezaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDoktor">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDoktorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/BolnicaWCF.Model" minOccurs="0" name="GetDoktorResult" nillable="true" type="q10:ArrayOfDoktor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPacijent">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPacijentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/BolnicaWCF.Model" minOccurs="0" name="GetPacijentResult" nillable="true" type="q11:ArrayOfPacijent" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPacijentByVeza">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPacijentByVezaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/BolnicaWCF.Model" minOccurs="0" name="GetPacijentByVezaResult" nillable="true" type="q12:ArrayOfKorisnik" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>