Bolnica/BolnicaClient/Connected Services/BolnicaService/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:49432/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:49432/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:49432/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BolnicaWCF.Model" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_LoginKorisnikProvjera_InputMessage">
    <wsdl:part name="parameters" element="tns:LoginKorisnikProvjera" />
  </wsdl:message>
  <wsdl:message name="IService1_LoginKorisnikProvjera_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginKorisnikProvjeraResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetKorisnik_InputMessage">
    <wsdl:part name="parameters" element="tns:GetKorisnik" />
  </wsdl:message>
  <wsdl:message name="IService1_GetKorisnik_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetKorisnikResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AddKorisnik_InputMessage">
    <wsdl:part name="parameters" element="tns:AddKorisnik" />
  </wsdl:message>
  <wsdl:message name="IService1_AddKorisnik_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddKorisnikResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdateKorisnik_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateKorisnik" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdateKorisnik_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateKorisnikResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteKorisnik_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteKorisnik" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteKorisnik_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteKorisnikResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetGrupa_InputMessage">
    <wsdl:part name="parameters" element="tns:GetGrupa" />
  </wsdl:message>
  <wsdl:message name="IService1_GetGrupa_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetGrupaResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDrzava_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDrzava" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDrzava_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDrzavaResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="LoginKorisnikProvjera">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/LoginKorisnikProvjera" message="tns:IService1_LoginKorisnikProvjera_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/LoginKorisnikProvjeraResponse" message="tns:IService1_LoginKorisnikProvjera_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetKorisnik">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetKorisnik" message="tns:IService1_GetKorisnik_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetKorisnikResponse" message="tns:IService1_GetKorisnik_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddKorisnik">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AddKorisnik" message="tns:IService1_AddKorisnik_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AddKorisnikResponse" message="tns:IService1_AddKorisnik_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateKorisnik">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/UpdateKorisnik" message="tns:IService1_UpdateKorisnik_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/UpdateKorisnikResponse" message="tns:IService1_UpdateKorisnik_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteKorisnik">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/DeleteKorisnik" message="tns:IService1_DeleteKorisnik_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/DeleteKorisnikResponse" message="tns:IService1_DeleteKorisnik_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetGrupa">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetGrupa" message="tns:IService1_GetGrupa_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetGrupaResponse" message="tns:IService1_GetGrupa_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDrzava">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetDrzava" message="tns:IService1_GetDrzava_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDrzavaResponse" message="tns:IService1_GetDrzava_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="LoginKorisnikProvjera">
      <soap:operation soapAction="http://tempuri.org/IService1/LoginKorisnikProvjera" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetKorisnik">
      <soap:operation soapAction="http://tempuri.org/IService1/GetKorisnik" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddKorisnik">
      <soap:operation soapAction="http://tempuri.org/IService1/AddKorisnik" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateKorisnik">
      <soap:operation soapAction="http://tempuri.org/IService1/UpdateKorisnik" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteKorisnik">
      <soap:operation soapAction="http://tempuri.org/IService1/DeleteKorisnik" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGrupa">
      <soap:operation soapAction="http://tempuri.org/IService1/GetGrupa" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDrzava">
      <soap:operation soapAction="http://tempuri.org/IService1/GetDrzava" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:49432/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>