Bolnica/BolnicaClient/Connected Services/BolnicaService/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:49432/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BolnicaWCF.Model" />
  <xs:element name="LoginKorisnikProvjera">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginKorisnikProvjeraResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/BolnicaWCF.Model" minOccurs="0" name="LoginKorisnikProvjeraResult" nillable="true" type="q1:ArrayOfKorisnik" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetKorisnik">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetKorisnikResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/BolnicaWCF.Model" minOccurs="0" name="GetKorisnikResult" nillable="true" type="q2:ArrayOfKorisnik" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddKorisnik">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/BolnicaWCF.Model" minOccurs="0" name="k" nillable="true" type="q3:Korisnik" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddKorisnikResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateKorisnik">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/BolnicaWCF.Model" minOccurs="0" name="k" nillable="true" type="q4:Korisnik" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateKorisnikResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteKorisnik">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteKorisnikResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGrupa">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGrupaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/BolnicaWCF.Model" minOccurs="0" name="GetGrupaResult" nillable="true" type="q5:ArrayOfGrupa" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDrzava">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDrzavaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/BolnicaWCF.Model" minOccurs="0" name="GetDrzavaResult" nillable="true" type="q6:ArrayOfDrzava" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPacijentByDoktorID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IDDoktor" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPacijentByDoktorIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/BolnicaWCF.Model" minOccurs="0" name="GetPacijentByDoktorIDResult" nillable="true" type="q7:ArrayOfPacijentDoktor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPacijentDoktorVeza">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/BolnicaWCF.Model" minOccurs="0" name="pd" nillable="true" type="q8:PacijentDoktor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPacijentDoktorVezaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePacijentDoktorVeza">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/BolnicaWCF.Model" minOccurs="0" name="pd" nillable="true" type="q9:PacijentDoktor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePacijentDoktorVezaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePacijentDoktorVeza">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePacijentDoktorVezaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDoktor">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDoktorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/BolnicaWCF.Model" minOccurs="0" name="GetDoktorResult" nillable="true" type="q10:ArrayOfDoktor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPacijent">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPacijentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/BolnicaWCF.Model" minOccurs="0" name="GetPacijentResult" nillable="true" type="q11:ArrayOfPacijent" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPacijentByVeza">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPacijentByVezaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/BolnicaWCF.Model" minOccurs="0" name="GetPacijentByVezaResult" nillable="true" type="q12:ArrayOfKorisnik" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddDrzava">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/BolnicaWCF.Model" minOccurs="0" name="d" nillable="true" type="q13:Drzava" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddDrzavaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateDrzava">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/BolnicaWCF.Model" minOccurs="0" name="d" nillable="true" type="q14:Drzava" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateDrzavaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteDrzava">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteDrzavaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProizvodjac">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProizvodjacResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/BolnicaWCF.Model" minOccurs="0" name="GetProizvodjacResult" nillable="true" type="q15:ArrayOfProizvodjac" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddProizvodjac">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/BolnicaWCF.Model" minOccurs="0" name="p" nillable="true" type="q16:Proizvodjac" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddProizvodjacResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateProizvodjac">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/BolnicaWCF.Model" minOccurs="0" name="p" nillable="true" type="q17:Proizvodjac" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateProizvodjacResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteProizvodjac">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteProizvodjacResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLijek">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLijekResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/BolnicaWCF.Model" minOccurs="0" name="GetLijekResult" nillable="true" type="q18:ArrayOfLijek" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddLijek">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/BolnicaWCF.Model" minOccurs="0" name="l" nillable="true" type="q19:Lijek" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddLijekResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateLijek">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/BolnicaWCF.Model" minOccurs="0" name="l" nillable="true" type="q20:Lijek" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateLijekResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteLijek">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteLijekResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBolest">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBolestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/BolnicaWCF.Model" minOccurs="0" name="GetBolestResult" nillable="true" type="q21:ArrayOfBolest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddBolest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/BolnicaWCF.Model" minOccurs="0" name="b" nillable="true" type="q22:Bolest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddBolestResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateBolest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/BolnicaWCF.Model" minOccurs="0" name="b" nillable="true" type="q23:Bolest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateBolestResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteBolest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteBolestResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOpasnostBolesti">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOpasnostBolestiResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/BolnicaWCF.Model" minOccurs="0" name="GetOpasnostBolestiResult" nillable="true" type="q24:ArrayOfOpasnostBolesti" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>