Bolnica/BolnicaClient/Connected Services/BolnicaService/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:49432/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:49432/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:49432/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BolnicaWCF.Model" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_LoginKorisnikProvjera_InputMessage">
    <wsdl:part name="parameters" element="tns:LoginKorisnikProvjera" />
  </wsdl:message>
  <wsdl:message name="IService1_LoginKorisnikProvjera_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginKorisnikProvjeraResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetKorisnik_InputMessage">
    <wsdl:part name="parameters" element="tns:GetKorisnik" />
  </wsdl:message>
  <wsdl:message name="IService1_GetKorisnik_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetKorisnikResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AddKorisnik_InputMessage">
    <wsdl:part name="parameters" element="tns:AddKorisnik" />
  </wsdl:message>
  <wsdl:message name="IService1_AddKorisnik_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddKorisnikResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdateKorisnik_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateKorisnik" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdateKorisnik_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateKorisnikResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteKorisnik_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteKorisnik" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteKorisnik_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteKorisnikResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetGrupa_InputMessage">
    <wsdl:part name="parameters" element="tns:GetGrupa" />
  </wsdl:message>
  <wsdl:message name="IService1_GetGrupa_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetGrupaResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDrzava_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDrzava" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDrzava_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDrzavaResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetPacijentByDoktorID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPacijentByDoktorID" />
  </wsdl:message>
  <wsdl:message name="IService1_GetPacijentByDoktorID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPacijentByDoktorIDResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AddPacijentDoktorVeza_InputMessage">
    <wsdl:part name="parameters" element="tns:AddPacijentDoktorVeza" />
  </wsdl:message>
  <wsdl:message name="IService1_AddPacijentDoktorVeza_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddPacijentDoktorVezaResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdatePacijentDoktorVeza_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePacijentDoktorVeza" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdatePacijentDoktorVeza_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePacijentDoktorVezaResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_DeletePacijentDoktorVeza_InputMessage">
    <wsdl:part name="parameters" element="tns:DeletePacijentDoktorVeza" />
  </wsdl:message>
  <wsdl:message name="IService1_DeletePacijentDoktorVeza_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeletePacijentDoktorVezaResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDoktor_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDoktor" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDoktor_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDoktorResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetPacijent_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPacijent" />
  </wsdl:message>
  <wsdl:message name="IService1_GetPacijent_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPacijentResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetPacijentByVeza_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPacijentByVeza" />
  </wsdl:message>
  <wsdl:message name="IService1_GetPacijentByVeza_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPacijentByVezaResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AddDrzava_InputMessage">
    <wsdl:part name="parameters" element="tns:AddDrzava" />
  </wsdl:message>
  <wsdl:message name="IService1_AddDrzava_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddDrzavaResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdateDrzava_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateDrzava" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdateDrzava_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateDrzavaResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteDrzava_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteDrzava" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteDrzava_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteDrzavaResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetProizvodjac_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProizvodjac" />
  </wsdl:message>
  <wsdl:message name="IService1_GetProizvodjac_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProizvodjacResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AddProizvodjac_InputMessage">
    <wsdl:part name="parameters" element="tns:AddProizvodjac" />
  </wsdl:message>
  <wsdl:message name="IService1_AddProizvodjac_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddProizvodjacResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdateProizvodjac_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateProizvodjac" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdateProizvodjac_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateProizvodjacResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteProizvodjac_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteProizvodjac" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteProizvodjac_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteProizvodjacResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetLijek_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLijek" />
  </wsdl:message>
  <wsdl:message name="IService1_GetLijek_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLijekResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AddLijek_InputMessage">
    <wsdl:part name="parameters" element="tns:AddLijek" />
  </wsdl:message>
  <wsdl:message name="IService1_AddLijek_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddLijekResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdateLijek_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateLijek" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdateLijek_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateLijekResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteLijek_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteLijek" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteLijek_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteLijekResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetBolest_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBolest" />
  </wsdl:message>
  <wsdl:message name="IService1_GetBolest_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBolestResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AddBolest_InputMessage">
    <wsdl:part name="parameters" element="tns:AddBolest" />
  </wsdl:message>
  <wsdl:message name="IService1_AddBolest_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddBolestResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdateBolest_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateBolest" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdateBolest_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateBolestResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteBolest_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteBolest" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteBolest_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteBolestResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetOpasnostBolesti_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOpasnostBolesti" />
  </wsdl:message>
  <wsdl:message name="IService1_GetOpasnostBolesti_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOpasnostBolestiResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetTerapija_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTerapija" />
  </wsdl:message>
  <wsdl:message name="IService1_GetTerapija_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTerapijaResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AddTerapija_InputMessage">
    <wsdl:part name="parameters" element="tns:AddTerapija" />
  </wsdl:message>
  <wsdl:message name="IService1_AddTerapija_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddTerapijaResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdateTerapija_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateTerapija" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdateTerapija_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateTerapijaResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteTerapija_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteTerapija" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteTerapija_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteTerapijaResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetBolestiDDL_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBolestiDDL" />
  </wsdl:message>
  <wsdl:message name="IService1_GetBolestiDDL_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBolestiDDLResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetLijekDDL_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLijekDDL" />
  </wsdl:message>
  <wsdl:message name="IService1_GetLijekDDL_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLijekDDLResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetLijekByTerapija_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLijekByTerapija" />
  </wsdl:message>
  <wsdl:message name="IService1_GetLijekByTerapija_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLijekByTerapijaResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AddTerapijaLijek_InputMessage">
    <wsdl:part name="parameters" element="tns:AddTerapijaLijek" />
  </wsdl:message>
  <wsdl:message name="IService1_AddTerapijaLijek_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddTerapijaLijekResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdateTerapijaLijek_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateTerapijaLijek" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdateTerapijaLijek_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateTerapijaLijekResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteTerapijaLijek_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteTerapijaLijek" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteTerapijaLijek_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteTerapijaLijekResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetPlanTerapije_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPlanTerapije" />
  </wsdl:message>
  <wsdl:message name="IService1_GetPlanTerapije_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPlanTerapijeResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetTerapijaDDL_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTerapijaDDL" />
  </wsdl:message>
  <wsdl:message name="IService1_GetTerapijaDDL_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTerapijaDDLResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AddPlanTerapije_InputMessage">
    <wsdl:part name="parameters" element="tns:AddPlanTerapije" />
  </wsdl:message>
  <wsdl:message name="IService1_AddPlanTerapije_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddPlanTerapijeResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdatePlanTerapije_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePlanTerapije" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdatePlanTerapije_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePlanTerapijeResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_DeletePlanTerapije_InputMessage">
    <wsdl:part name="parameters" element="tns:DeletePlanTerapije" />
  </wsdl:message>
  <wsdl:message name="IService1_DeletePlanTerapije_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeletePlanTerapijeResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="LoginKorisnikProvjera">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/LoginKorisnikProvjera" message="tns:IService1_LoginKorisnikProvjera_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/LoginKorisnikProvjeraResponse" message="tns:IService1_LoginKorisnikProvjera_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetKorisnik">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetKorisnik" message="tns:IService1_GetKorisnik_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetKorisnikResponse" message="tns:IService1_GetKorisnik_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddKorisnik">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AddKorisnik" message="tns:IService1_AddKorisnik_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AddKorisnikResponse" message="tns:IService1_AddKorisnik_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateKorisnik">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/UpdateKorisnik" message="tns:IService1_UpdateKorisnik_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/UpdateKorisnikResponse" message="tns:IService1_UpdateKorisnik_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteKorisnik">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/DeleteKorisnik" message="tns:IService1_DeleteKorisnik_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/DeleteKorisnikResponse" message="tns:IService1_DeleteKorisnik_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetGrupa">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetGrupa" message="tns:IService1_GetGrupa_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetGrupaResponse" message="tns:IService1_GetGrupa_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDrzava">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetDrzava" message="tns:IService1_GetDrzava_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDrzavaResponse" message="tns:IService1_GetDrzava_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPacijentByDoktorID">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetPacijentByDoktorID" message="tns:IService1_GetPacijentByDoktorID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetPacijentByDoktorIDResponse" message="tns:IService1_GetPacijentByDoktorID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddPacijentDoktorVeza">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AddPacijentDoktorVeza" message="tns:IService1_AddPacijentDoktorVeza_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AddPacijentDoktorVezaResponse" message="tns:IService1_AddPacijentDoktorVeza_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdatePacijentDoktorVeza">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/UpdatePacijentDoktorVeza" message="tns:IService1_UpdatePacijentDoktorVeza_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/UpdatePacijentDoktorVezaResponse" message="tns:IService1_UpdatePacijentDoktorVeza_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeletePacijentDoktorVeza">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/DeletePacijentDoktorVeza" message="tns:IService1_DeletePacijentDoktorVeza_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/DeletePacijentDoktorVezaResponse" message="tns:IService1_DeletePacijentDoktorVeza_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDoktor">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetDoktor" message="tns:IService1_GetDoktor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDoktorResponse" message="tns:IService1_GetDoktor_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPacijent">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetPacijent" message="tns:IService1_GetPacijent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetPacijentResponse" message="tns:IService1_GetPacijent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPacijentByVeza">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetPacijentByVeza" message="tns:IService1_GetPacijentByVeza_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetPacijentByVezaResponse" message="tns:IService1_GetPacijentByVeza_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddDrzava">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AddDrzava" message="tns:IService1_AddDrzava_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AddDrzavaResponse" message="tns:IService1_AddDrzava_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateDrzava">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/UpdateDrzava" message="tns:IService1_UpdateDrzava_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/UpdateDrzavaResponse" message="tns:IService1_UpdateDrzava_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteDrzava">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/DeleteDrzava" message="tns:IService1_DeleteDrzava_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/DeleteDrzavaResponse" message="tns:IService1_DeleteDrzava_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProizvodjac">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetProizvodjac" message="tns:IService1_GetProizvodjac_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetProizvodjacResponse" message="tns:IService1_GetProizvodjac_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddProizvodjac">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AddProizvodjac" message="tns:IService1_AddProizvodjac_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AddProizvodjacResponse" message="tns:IService1_AddProizvodjac_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateProizvodjac">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/UpdateProizvodjac" message="tns:IService1_UpdateProizvodjac_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/UpdateProizvodjacResponse" message="tns:IService1_UpdateProizvodjac_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteProizvodjac">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/DeleteProizvodjac" message="tns:IService1_DeleteProizvodjac_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/DeleteProizvodjacResponse" message="tns:IService1_DeleteProizvodjac_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLijek">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetLijek" message="tns:IService1_GetLijek_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetLijekResponse" message="tns:IService1_GetLijek_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddLijek">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AddLijek" message="tns:IService1_AddLijek_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AddLijekResponse" message="tns:IService1_AddLijek_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateLijek">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/UpdateLijek" message="tns:IService1_UpdateLijek_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/UpdateLijekResponse" message="tns:IService1_UpdateLijek_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteLijek">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/DeleteLijek" message="tns:IService1_DeleteLijek_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/DeleteLijekResponse" message="tns:IService1_DeleteLijek_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBolest">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetBolest" message="tns:IService1_GetBolest_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetBolestResponse" message="tns:IService1_GetBolest_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddBolest">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AddBolest" message="tns:IService1_AddBolest_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AddBolestResponse" message="tns:IService1_AddBolest_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateBolest">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/UpdateBolest" message="tns:IService1_UpdateBolest_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/UpdateBolestResponse" message="tns:IService1_UpdateBolest_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteBolest">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/DeleteBolest" message="tns:IService1_DeleteBolest_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/DeleteBolestResponse" message="tns:IService1_DeleteBolest_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetOpasnostBolesti">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetOpasnostBolesti" message="tns:IService1_GetOpasnostBolesti_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetOpasnostBolestiResponse" message="tns:IService1_GetOpasnostBolesti_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTerapija">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetTerapija" message="tns:IService1_GetTerapija_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetTerapijaResponse" message="tns:IService1_GetTerapija_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddTerapija">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AddTerapija" message="tns:IService1_AddTerapija_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AddTerapijaResponse" message="tns:IService1_AddTerapija_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateTerapija">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/UpdateTerapija" message="tns:IService1_UpdateTerapija_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/UpdateTerapijaResponse" message="tns:IService1_UpdateTerapija_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteTerapija">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/DeleteTerapija" message="tns:IService1_DeleteTerapija_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/DeleteTerapijaResponse" message="tns:IService1_DeleteTerapija_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBolestiDDL">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetBolestiDDL" message="tns:IService1_GetBolestiDDL_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetBolestiDDLResponse" message="tns:IService1_GetBolestiDDL_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLijekDDL">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetLijekDDL" message="tns:IService1_GetLijekDDL_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetLijekDDLResponse" message="tns:IService1_GetLijekDDL_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLijekByTerapija">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetLijekByTerapija" message="tns:IService1_GetLijekByTerapija_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetLijekByTerapijaResponse" message="tns:IService1_GetLijekByTerapija_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddTerapijaLijek">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AddTerapijaLijek" message="tns:IService1_AddTerapijaLijek_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AddTerapijaLijekResponse" message="tns:IService1_AddTerapijaLijek_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateTerapijaLijek">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/UpdateTerapijaLijek" message="tns:IService1_UpdateTerapijaLijek_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/UpdateTerapijaLijekResponse" message="tns:IService1_UpdateTerapijaLijek_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteTerapijaLijek">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/DeleteTerapijaLijek" message="tns:IService1_DeleteTerapijaLijek_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/DeleteTerapijaLijekResponse" message="tns:IService1_DeleteTerapijaLijek_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPlanTerapije">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetPlanTerapije" message="tns:IService1_GetPlanTerapije_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetPlanTerapijeResponse" message="tns:IService1_GetPlanTerapije_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTerapijaDDL">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetTerapijaDDL" message="tns:IService1_GetTerapijaDDL_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetTerapijaDDLResponse" message="tns:IService1_GetTerapijaDDL_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddPlanTerapije">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AddPlanTerapije" message="tns:IService1_AddPlanTerapije_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AddPlanTerapijeResponse" message="tns:IService1_AddPlanTerapije_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdatePlanTerapije">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/UpdatePlanTerapije" message="tns:IService1_UpdatePlanTerapije_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/UpdatePlanTerapijeResponse" message="tns:IService1_UpdatePlanTerapije_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeletePlanTerapije">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/DeletePlanTerapije" message="tns:IService1_DeletePlanTerapije_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/DeletePlanTerapijeResponse" message="tns:IService1_DeletePlanTerapije_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="LoginKorisnikProvjera">
      <soap:operation soapAction="http://tempuri.org/IService1/LoginKorisnikProvjera" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetKorisnik">
      <soap:operation soapAction="http://tempuri.org/IService1/GetKorisnik" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddKorisnik">
      <soap:operation soapAction="http://tempuri.org/IService1/AddKorisnik" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateKorisnik">
      <soap:operation soapAction="http://tempuri.org/IService1/UpdateKorisnik" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteKorisnik">
      <soap:operation soapAction="http://tempuri.org/IService1/DeleteKorisnik" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGrupa">
      <soap:operation soapAction="http://tempuri.org/IService1/GetGrupa" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDrzava">
      <soap:operation soapAction="http://tempuri.org/IService1/GetDrzava" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPacijentByDoktorID">
      <soap:operation soapAction="http://tempuri.org/IService1/GetPacijentByDoktorID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddPacijentDoktorVeza">
      <soap:operation soapAction="http://tempuri.org/IService1/AddPacijentDoktorVeza" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdatePacijentDoktorVeza">
      <soap:operation soapAction="http://tempuri.org/IService1/UpdatePacijentDoktorVeza" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeletePacijentDoktorVeza">
      <soap:operation soapAction="http://tempuri.org/IService1/DeletePacijentDoktorVeza" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDoktor">
      <soap:operation soapAction="http://tempuri.org/IService1/GetDoktor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPacijent">
      <soap:operation soapAction="http://tempuri.org/IService1/GetPacijent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPacijentByVeza">
      <soap:operation soapAction="http://tempuri.org/IService1/GetPacijentByVeza" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddDrzava">
      <soap:operation soapAction="http://tempuri.org/IService1/AddDrzava" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateDrzava">
      <soap:operation soapAction="http://tempuri.org/IService1/UpdateDrzava" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteDrzava">
      <soap:operation soapAction="http://tempuri.org/IService1/DeleteDrzava" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProizvodjac">
      <soap:operation soapAction="http://tempuri.org/IService1/GetProizvodjac" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddProizvodjac">
      <soap:operation soapAction="http://tempuri.org/IService1/AddProizvodjac" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateProizvodjac">
      <soap:operation soapAction="http://tempuri.org/IService1/UpdateProizvodjac" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteProizvodjac">
      <soap:operation soapAction="http://tempuri.org/IService1/DeleteProizvodjac" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLijek">
      <soap:operation soapAction="http://tempuri.org/IService1/GetLijek" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddLijek">
      <soap:operation soapAction="http://tempuri.org/IService1/AddLijek" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateLijek">
      <soap:operation soapAction="http://tempuri.org/IService1/UpdateLijek" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteLijek">
      <soap:operation soapAction="http://tempuri.org/IService1/DeleteLijek" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBolest">
      <soap:operation soapAction="http://tempuri.org/IService1/GetBolest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddBolest">
      <soap:operation soapAction="http://tempuri.org/IService1/AddBolest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateBolest">
      <soap:operation soapAction="http://tempuri.org/IService1/UpdateBolest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteBolest">
      <soap:operation soapAction="http://tempuri.org/IService1/DeleteBolest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOpasnostBolesti">
      <soap:operation soapAction="http://tempuri.org/IService1/GetOpasnostBolesti" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTerapija">
      <soap:operation soapAction="http://tempuri.org/IService1/GetTerapija" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddTerapija">
      <soap:operation soapAction="http://tempuri.org/IService1/AddTerapija" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateTerapija">
      <soap:operation soapAction="http://tempuri.org/IService1/UpdateTerapija" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteTerapija">
      <soap:operation soapAction="http://tempuri.org/IService1/DeleteTerapija" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBolestiDDL">
      <soap:operation soapAction="http://tempuri.org/IService1/GetBolestiDDL" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLijekDDL">
      <soap:operation soapAction="http://tempuri.org/IService1/GetLijekDDL" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLijekByTerapija">
      <soap:operation soapAction="http://tempuri.org/IService1/GetLijekByTerapija" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddTerapijaLijek">
      <soap:operation soapAction="http://tempuri.org/IService1/AddTerapijaLijek" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateTerapijaLijek">
      <soap:operation soapAction="http://tempuri.org/IService1/UpdateTerapijaLijek" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteTerapijaLijek">
      <soap:operation soapAction="http://tempuri.org/IService1/DeleteTerapijaLijek" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPlanTerapije">
      <soap:operation soapAction="http://tempuri.org/IService1/GetPlanTerapije" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTerapijaDDL">
      <soap:operation soapAction="http://tempuri.org/IService1/GetTerapijaDDL" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddPlanTerapije">
      <soap:operation soapAction="http://tempuri.org/IService1/AddPlanTerapije" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdatePlanTerapije">
      <soap:operation soapAction="http://tempuri.org/IService1/UpdatePlanTerapije" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeletePlanTerapije">
      <soap:operation soapAction="http://tempuri.org/IService1/DeletePlanTerapije" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:49432/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>