Bolnica/BolnicaClient/Connected Services/BolnicaService/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BolnicaWCF.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BolnicaWCF.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfKorisnik">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Korisnik" nillable="true" type="tns:Korisnik" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKorisnik" nillable="true" type="tns:ArrayOfKorisnik" />
  <xs:complexType name="Korisnik">
    <xs:sequence>
      <xs:element minOccurs="0" name="Adresa" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Drzava" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DrzavaID" type="xs:int" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Grad" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Grupa" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IDKorisnickaGrupa" type="xs:int" />
      <xs:element minOccurs="0" name="IDKorisnickiRacun" type="xs:int" />
      <xs:element minOccurs="0" name="Ime" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OIB" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PTTBroj" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Prezime" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Telefon" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Korisnik" nillable="true" type="tns:Korisnik" />
  <xs:complexType name="ArrayOfGrupa">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Grupa" nillable="true" type="tns:Grupa" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGrupa" nillable="true" type="tns:ArrayOfGrupa" />
  <xs:complexType name="Grupa">
    <xs:sequence>
      <xs:element minOccurs="0" name="IDKorisnickaGrupa" type="xs:int" />
      <xs:element minOccurs="0" name="KorisnickaGrupaNaziv" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Grupa" nillable="true" type="tns:Grupa" />
  <xs:complexType name="ArrayOfDrzava">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Drzava" nillable="true" type="tns:Drzava" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDrzava" nillable="true" type="tns:ArrayOfDrzava" />
  <xs:complexType name="Drzava">
    <xs:sequence>
      <xs:element minOccurs="0" name="IDDrzava" type="xs:int" />
      <xs:element minOccurs="0" name="Naziv" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Drzava" nillable="true" type="tns:Drzava" />
  <xs:complexType name="ArrayOfPacijentDoktor">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PacijentDoktor" nillable="true" type="tns:PacijentDoktor" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPacijentDoktor" nillable="true" type="tns:ArrayOfPacijentDoktor" />
  <xs:complexType name="PacijentDoktor">
    <xs:sequence>
      <xs:element minOccurs="0" name="DoktorKorisnickiRacunID" type="xs:int" />
      <xs:element minOccurs="0" name="IDPacijentDoktorVeza" type="xs:int" />
      <xs:element minOccurs="0" name="NazivDoktora" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NazivPacijenta" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PacijentKorisnickiRacunID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PacijentDoktor" nillable="true" type="tns:PacijentDoktor" />
  <xs:complexType name="ArrayOfDoktor">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Doktor" nillable="true" type="tns:Doktor" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDoktor" nillable="true" type="tns:ArrayOfDoktor" />
  <xs:complexType name="Doktor">
    <xs:sequence>
      <xs:element minOccurs="0" name="IDKOrisnickiRacun" type="xs:int" />
      <xs:element minOccurs="0" name="NazivDoktora" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Doktor" nillable="true" type="tns:Doktor" />
  <xs:complexType name="ArrayOfPacijent">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Pacijent" nillable="true" type="tns:Pacijent" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPacijent" nillable="true" type="tns:ArrayOfPacijent" />
  <xs:complexType name="Pacijent">
    <xs:sequence>
      <xs:element minOccurs="0" name="IDKOrisnickiRacun" type="xs:int" />
      <xs:element minOccurs="0" name="NazivPacijenta" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Pacijent" nillable="true" type="tns:Pacijent" />
  <xs:complexType name="ArrayOfProizvodjac">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Proizvodjac" nillable="true" type="tns:Proizvodjac" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProizvodjac" nillable="true" type="tns:ArrayOfProizvodjac" />
  <xs:complexType name="Proizvodjac">
    <xs:sequence>
      <xs:element minOccurs="0" name="IDProizvodjac" type="xs:int" />
      <xs:element minOccurs="0" name="Naziv" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Proizvodjac" nillable="true" type="tns:Proizvodjac" />
  <xs:complexType name="ArrayOfLijek">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Lijek" nillable="true" type="tns:Lijek" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLijek" nillable="true" type="tns:ArrayOfLijek" />
  <xs:complexType name="Lijek">
    <xs:sequence>
      <xs:element minOccurs="0" name="BrojOdobrenja" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IDLijek" type="xs:int" />
      <xs:element minOccurs="0" name="NazivLijeka" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProizvodjacID" type="xs:int" />
      <xs:element minOccurs="0" name="ProizvodjacNaziv" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Lijek" nillable="true" type="tns:Lijek" />
  <xs:complexType name="ArrayOfBolest">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Bolest" nillable="true" type="tns:Bolest" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBolest" nillable="true" type="tns:ArrayOfBolest" />
  <xs:complexType name="Bolest">
    <xs:sequence>
      <xs:element minOccurs="0" name="GodinaOtkrica" type="xs:int" />
      <xs:element minOccurs="0" name="IDBolest" type="xs:int" />
      <xs:element minOccurs="0" name="NazivBolesti" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Opasnost" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OpasnostID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Bolest" nillable="true" type="tns:Bolest" />
  <xs:complexType name="ArrayOfOpasnostBolesti">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OpasnostBolesti" nillable="true" type="tns:OpasnostBolesti" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOpasnostBolesti" nillable="true" type="tns:ArrayOfOpasnostBolesti" />
  <xs:complexType name="OpasnostBolesti">
    <xs:sequence>
      <xs:element minOccurs="0" name="IDOPasnost" type="xs:int" />
      <xs:element minOccurs="0" name="Opasnost" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OpasnostBolesti" nillable="true" type="tns:OpasnostBolesti" />
  <xs:complexType name="ArrayOfTerapija">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Terapija" nillable="true" type="tns:Terapija" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTerapija" nillable="true" type="tns:ArrayOfTerapija" />
  <xs:complexType name="Terapija">
    <xs:sequence>
      <xs:element minOccurs="0" name="BolestID" type="xs:int" />
      <xs:element minOccurs="0" name="DaniTrajanja" type="xs:int" />
      <xs:element minOccurs="0" name="IDTerapija" type="xs:int" />
      <xs:element minOccurs="0" name="Naziv" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NazivBolesti" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Terapija" nillable="true" type="tns:Terapija" />
  <xs:complexType name="ArrayOfTerapijaLijek">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TerapijaLijek" nillable="true" type="tns:TerapijaLijek" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTerapijaLijek" nillable="true" type="tns:ArrayOfTerapijaLijek" />
  <xs:complexType name="TerapijaLijek">
    <xs:sequence>
      <xs:element minOccurs="0" name="IDTerapijaLijek" type="xs:int" />
      <xs:element minOccurs="0" name="LijekID" type="xs:int" />
      <xs:element minOccurs="0" name="NazivLijeka" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TerapijaID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TerapijaLijek" nillable="true" type="tns:TerapijaLijek" />
  <xs:complexType name="ArrayOfPlanTerapije">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PlanTerapije" nillable="true" type="tns:PlanTerapije" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPlanTerapije" nillable="true" type="tns:ArrayOfPlanTerapije" />
  <xs:complexType name="PlanTerapije">
    <xs:sequence>
      <xs:element minOccurs="0" name="DatumPocetka" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DatumZavrsetka" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DoktorID" type="xs:int" />
      <xs:element minOccurs="0" name="IDPlanTerapije" type="xs:int" />
      <xs:element minOccurs="0" name="NazivTerapije" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PacijentID" type="xs:int" />
      <xs:element minOccurs="0" name="TerapijaID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PlanTerapije" nillable="true" type="tns:PlanTerapije" />
</xs:schema>