Bolnica/BolnicaClient/Connected Services/BolnicaService/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BolnicaWCF.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BolnicaWCF.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfKorisnik">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Korisnik" nillable="true" type="tns:Korisnik" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKorisnik" nillable="true" type="tns:ArrayOfKorisnik" />
  <xs:complexType name="Korisnik">
    <xs:sequence>
      <xs:element minOccurs="0" name="Adresa" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Drzava" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Grad" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Grupa" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IDDrzava" type="xs:int" />
      <xs:element minOccurs="0" name="IDKorisnickaGrupa" type="xs:int" />
      <xs:element minOccurs="0" name="IDKorisnickiRacun" type="xs:int" />
      <xs:element minOccurs="0" name="Ime" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OIB" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PTTBroj" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Prezime" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Telefon" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Korisnik" nillable="true" type="tns:Korisnik" />
  <xs:complexType name="ArrayOfGrupa">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Grupa" nillable="true" type="tns:Grupa" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGrupa" nillable="true" type="tns:ArrayOfGrupa" />
  <xs:complexType name="Grupa">
    <xs:sequence>
      <xs:element minOccurs="0" name="IDKorisnickaGrupa" type="xs:int" />
      <xs:element minOccurs="0" name="KorisnickaGrupaNaziv" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Grupa" nillable="true" type="tns:Grupa" />
  <xs:complexType name="ArrayOfDrzava">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Drzava" nillable="true" type="tns:Drzava" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDrzava" nillable="true" type="tns:ArrayOfDrzava" />
  <xs:complexType name="Drzava">
    <xs:sequence>
      <xs:element minOccurs="0" name="IDDrzava" type="xs:int" />
      <xs:element minOccurs="0" name="Naziv" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Drzava" nillable="true" type="tns:Drzava" />
</xs:schema>